@import "~bootstrap/dist/css/bootstrap.css";
@import "../src/assets/styles/button.css";
@import "../src/assets/styles/input.css";

@font-face {
    font-family: dastNevis;
    src: url(../src/assets/font/Far_DastNevis.otf);
}

@font-face {
    font-family: vazir;
    src: url(../src/assets/font/Vazir.ttf);
}

* {
    font-family: vazir;
}
